In [77]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import statsmodels.api as sm

In [78]:
forests = pd.read_csv('Algerian_forest_fires_dataset.csv')

In [88]:
forests.iloc[[0]]

                                                                 Bejaia Region Dataset
day month year Temperature  RH  Ws Rain  FFMC DMC DC ISI BUI FWI              Classes

In [76]:
forests

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
0,01,06,2012,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,not fire
1,02,06,2012,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,not fire
2,03,06,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire
3,04,06,2012,25,89,13,2.5,28.6,1.3,6.9,0,1.7,0,not fire
4,05,06,2012,27,77,16,0,64.8,3,14.2,1.2,3.9,0.5,not fire
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,26,09,2012,30,65,14,0,85.4,16,44.5,4.5,16.9,6.5,fire
242,27,09,2012,28,87,15,4.4,41.1,6.5,8,0.1,6.2,0,not fire
243,28,09,2012,27,87,29,0.5,45.9,3.5,7.9,0.4,3.4,0.2,not fire
244,29,09,2012,24,54,18,0.1,79.7,4.3,15.2,1.7,5.1,0.7,not fire
245,30,09,2012,24,64,15,0.2,67.3,3.8,16.5,1.2,4.8,0.5,not fire

In [47]:
forests.columns

Index(['day', 'month', 'year', 'Temperature', ' RH', ' Ws', 'Rain ', 'FFMC',
       'DMC', 'DC', 'ISI', 'BUI', 'FWI', 'Classes  '],
      dtype='object')

Below is a description of each variable: 

1. temp â€“ maximum temperature in degrees Celsius
2. humid â€“ relative humidity as a percentage
3. region â€“ location in Bejaia in the northeast of Algeria or Sidi Bel-abbes in the northwest of Algeria
4. fire â€“ whether a fire occurred (True) or didnâ€™t (False)
5. FFMC â€“ Fine Fuel Moisture Code: measure of forest litter fuel moisture that incorporates temperature, humidity, wind, and rain
6. ISI â€“ Initial Spread Index: estimates spread potential of fire
7. BUI â€“ Buildup Index: estimates potential release of heat
8. FWI â€“ Fire Weather Index: measure of general fire intensity potential that incorporates ISI and BUI

In [72]:
vari = forests.iloc[:,0:-1].astype('float')

ValueError: could not convert string to float: 'Sidi-Bel Abbes Region Dataset'

In [56]:
#create a table of correlations for the quantitative variables
corr_grid = forests.corr()

In [59]:
corr_grid

Empty DataFrame
Columns: []
Index: []

In [57]:
type(corr_grid)

pandas.core.frame.DataFrame

In [58]:
forests.dtypes

day            object
month          object
year           object
Temperature    object
 RH            object
 Ws            object
Rain           object
FFMC           object
DMC            object
DC             object
ISI            object
BUI            object
FWI            object
Classes        object
dtype: object